html,
body{
	margin: 0;
	padding: 0;
}


body{
background-color:white; /*to set background on page to a white*/
font-family: 'Sen', sans-serif;
font-size:19px;
text-align:center;
color:00498d; /* 00498d font color to blue*/
}

/*nav bar*/
header {
  position: top;
  left: 0;
  right: 0;
  background-color: #d8e3ec;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}



header .nav {
  z-index:100px;
}

header .nav ul {
  list-style: none;
  z-index:100px;
}

header .nav ul li {
  position: relative;
  float: left;
}

header .nav ul li a {
  font-size: 19px;
  padding: 15px;
  color:#00498d;
  display: block;
  text-decoration: none;
}

header .nav ul li a:hover {
  text-decoration: underline;
  color: #0da2ff;
}

header .nav ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: #d8e3ec;
  display: none;
  z-index:1000;
  flex-direction: column;
}

header .nav ul li ul li a{
  z-index:1000;
  text-decoration: none;
  color:#00498d;
}

header .nav ul li ul li {
  width: 100%;
  margin-bottom:0;
}

header .nav ul li:hover > ul,
header .nav ul li:focus-within > ul,
header .nav ul li ul li:hover > ul,
header .nav ul li ul li:focus-within > ul {
  display:flex;
}

#menubar {
  display: none;
}

header label {
  font-size: 20px;
  color: #00498d;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .nav {
    position: relative;
    background: #d8e3ec;
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: none;
  }

  header .nav ul li {
    width: 100%;
  }

  header .nav ul li ul {
    position: relative;
    width: 100%;
  }

  header .nav ul li ul li {
    background-color: #F0F8FF;
  }


  #menubar:checked~.nav {
    display: block;
  }
}



/*to add bar with logo and social media*/
.top-section {
	width:device-width;
  background-color: #F0F8FF;
  padding: 5px;
  display: flex;
  align-items: center;
  height:40px;
}

.logo {
  width: 150px; 
  margin-right: 10px; 
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.socials{
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 30px;
  font-size:25px;
}

@media (min-width: 728px) {
  .tickets-button{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    font-size: 20px;
    background-color:  #14a7a7;
    padding:8px;
  }

  .tickets-button a{
    color:#eaf5f9;
    font-size: 20px;
    letter-spacing: 2px; 
    text-decoration: none;
  }

  .tickets-button a:hover{
    text-decoration: none;
  }
}

@media (max-width: 728px) {
  .tickets-button {
    display: none; /* Hide the button */
  }
}


hr{
	border-bottom: solid 949494;  /*break (a line displayed) after heading of page*/
}

p{
	color:001b3a;  /*paragraph texts to have a dark blue color*/
}

.listz{
	color:001b3a; /*list to have a dark blue color*/
	list-style-type: circle; /*list bullet points to be circle*/
}

.center{ /*center images */
display: block;
margin-left: auto;
margin-right: auto;
width: 400px;
}

/*for social media icons in footer*/
.media{
  display: flex;
  align-items: center;
}

.media a {
  display: inline-block;
  margin-right: 10px; /* margin between social icons */
  text-decoration: none;
}

.media img {
  width: 30px; /* the width and height of social icons */
  height: 30px;
}

a:hover{
	text-decoration: underline;
}


footer {
  background-color: d8e3ec;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px 20px;
}

.footer h3 {
  text-align: center;
}

.footer img {
  width: 200px;
  height: 100px;
  padding: 10px;
  max-width: 100%;
  height: auto;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.social-icons a i {
  font-size: 30px;
  color:#00498d;
  opacity: 0.9;
}

.social-icons a:hover {
  transform: scale(0.8);
}

.quicklinks {
  list-style: none;
  padding: 0;
  text-align: center;
}

.quicklinks a{
	text-decoration:none;
	color:	#00498d;
}

.quicklinks a:hover{
	text-decoration:underline;
  color:#0da2ff;
}


/* Responsive footer*/
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer h3 {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .quicklinks {
    text-align: left;
    padding-right: 0;
  }

  .social-icons {
    justify-content: flex-start;
    padding-right: 0;
    margin-top: 20px;
  }
}





.listz{
	list-style-position: inside;
	text-align:center;
}

/*for coloured sections */
.sec1{
	background-color:#f3fafd;   
	padding-bottom:20px;
	margin:50px 25px;
}

.subsec{
	display:flex;
flex-wrap:wrap;
align-items:center;
justify-content:space-between;
}

.para{
	font-family: 'Sen', sans-serif;
	font-size:18px;
	line-height:20px;
	color:rgb(63,62,62);
	flex-basis:60%;
	text-align:left;
	padding-left:20px;
}

.img{
flex-basis:35%;
	margin-top:20px;
	text-align:right;
}

.img img{
		max-width:100%;
	height:auto;
}


@media (max-width: 768px) {  /* to make coloured sections responsive responsive */
	.subsec{
		flex-direction:column;
	}
	
	.para,
	.images{
		flex-basis:100%;
		text-align:left;
	}
}


/*for coloured background with list*/
.cl{
	background-color:#f3fafd; 
	text-align:center;
}

.cl h3{
margin-top:0;
}

.cl img{
	display:block;
	margin:0 auto;
}

.listz{
	text-align:center;
	margin-top:20px;
}

/*to make the coloured section with list responsive*/
@media (max-width: 768px){
	.cl img{
	max-width:100%;
	height: auto;
}
}


/*for fixed background image*/
body{
	height:100vh;
}

.container{ 
	width:100%;
	height:1300px;
	background-position:center;
	background-size:cover;
	background-image:url(turtleimages/bn.jpg);  /*to add a fixed background image*/
	background-attachment:fixed;
	padding-bottom:220px;
}


/* vid for banner */
.banner {
  position: relative;
  width: 100%;
  height: 500px; 
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
